<mat-toolbar><b>צריך עזרה</b></mat-toolbar>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="padding-left: 10vw; padding-right: 10vw;">
  <mat-grid-list cols="3" rows="3" rowHeight="90px">
    <mat-grid-tile>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>שם פרטי</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>טלפון</mat-label>
        <input matInput formControlName="cellPhone" required pattern="[0-9]*">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile colspan="3">
      <mat-form-field appearance="outline">
        <mat-label>מידע נוסף כללי</mat-label>
        <input matInput formControlName="suggestion">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button type="submit" [disabled]="userForm.invalid">שלח</button>
</form>
