mat-form-field {
    // padding-left: 88px;
    // padding-top: 15px;
    border: none;
    width: 100%;
    padding: 5px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #e9eeea !important;
    border: none !important;
}