<mat-toolbar><b>רוצה לעזור</b></mat-toolbar>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="padding-left: 10vw; padding-right: 10vw;">
  <mat-grid-list cols="3" rows="3" rowHeight="90px">
    <mat-grid-tile>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>שם פרטי</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>טלפון</mat-label>
        <input matInput formControlName="cellPhone" required pattern="[0-9]*">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>זמינות</mat-label>
        <mat-select formControlName="availability" required>
          <mat-option value="full">מלאה</mat-option>
          <mat-option value="partial">חלקית</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>שנות ניסיון</mat-label>
        <mat-select formControlName="experience" required>
          <mat-option value="1-2">1-2</mat-option>
          <mat-option value="2-4">2-4</mat-option>
          <mat-option value="4-6">4-6</mat-option>
          <mat-option value="6+">6+</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>פרופיל לינקדאין</mat-label>
        <input matInput type="url" formControlName="linkedin" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field appearance="outline">
        <mat-label>ידע (שפות, טכנולוגיות וכו')</mat-label>
        <input matInput formControlName="languages" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-form-field appearance="outline">
        <mat-label>מידע נוסף כללי</mat-label>
        <input matInput formControlName="moreInfo">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button type="submit" [disabled]="userForm.invalid">שלח</button>
</form>