@import "src/assets/styles/variables.scss";

mat-form-field {
  border: none;
  width: 100%;
}


form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

button {
  padding: .5rem 5rem;
  width: max-content;
  align-self: center;
}


mat-toolbar {
  margin-top: 1rem;
  border-bottom: 1px solid $dark;
  letter-spacing: 2.24px;
  padding: 2rem;
}


@media only screen and (max-width: 600px) {
  button {
   width: 92%;
    margin-bottom: 2rem;
    align-self: center;

  }

  .row {
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
  }

}