<mat-card class="m-2">

  <div class="d-flex align-items-center justify-content-between  p-1 px-2">
    <mat-card-title class="title d-flex align-items-center">
      {{helper.firstName}} {{helper.lastName}}</mat-card-title>
    <mat-card-subtitle>{{helper.cellPhone}}</mat-card-subtitle>
    <mat-card-actions align="end" class="p-0">
      <mat-icon (click)="deleteHelper()">delete</mat-icon>
      <mat-checkbox [checked]="helper.active" [(ngModel)]="helper.active"
                    (change)="changeHelperStatus()"></mat-checkbox>
    </mat-card-actions>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="info">
    <div class="row">
      <b class="col-3">ידע</b>
      <p class="col">{{helper.languages}}</p>
    </div>
    <div class="row">
      <b class="col-3"> ניסיון</b>
      <p class="col">{{helper.experience}}</p>
    </div>
    <div class="row">
      <b class="col-3">זמינות</b>
      <p class="col">{{helper.availability}}</p>
    </div>

    <div class="row">
      <b class="col-3">לינקדין</b>
      <a class="col" [href]="helper.linkedin">{{helper.linkedin}}</a>
    </div>
    <div class="row mt-2" *ngIf="helper.moreInfo">
      <mat-divider class=" m-2"></mat-divider>
      <b class="col-3">מידע נוסף</b>
      <p class="col">{{helper.moreInfo}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div *ngIf="helper.statusChange" [align]="'end'" class="px-2 mb-2">
      <small>שינוי אחרון {{helper.statusChange }}</small>
    </div>
  </mat-card-footer>
</mat-card>