@import "src/assets/styles/variables.scss";

mat-card {
  background: $light;
  box-shadow: 0 0 3px 1px #699775;
}

.info {
p,b, a{
  font-size: 1rem;
  margin-top: 0.2rem;
  max-width: 100%;
  overflow: hidden;
}
}

.title {
  font-size: 1.5rem;
}