@import "src/assets/styles/variables.scss";

.header {
  display: flex;
  height: 35vh;
  direction: ltr;
  width: 100vw;
  background: $light;
  gap: 3rem;
  align-items: center;

  img {
    width: 40%;
    object-fit: cover;
    height: 100%;
  }

  .text {
    color: $dark;
    font-family: "Jura", sans-serif;

    h1, h2 {
      margin: .5rem 0
    }

    h2 {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 10vh;
    gap: 1rem;
  }
}