.top {
    display: flex;
    height: 40vh;
    direction: ltr;
    width: 100vw;
    background: #e9eeea;
    gap: 3rem;
    align-items: center;

    img {
        width: 40%;
        object-fit: cover;
        height: 100%;
    }

    .text {
        padding: 2rem 0;
        color: #2a5435;

        h1,
        h2 {
            margin: 0;
            font-size: 60px;
            font-weight: normal;
        }

        h2 {
            font-weight: bold;
        }
    }
}