

.info {
  color: #444444;
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  border-bottom: 1px solid #444444;

  p {
    max-width: 1000px;
    text-align: center;
  }

}

.buttons {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}