
.container {
  height: 100%;
  width: 100%;

  div {
    display: flex;
    justify-content: center;
  }

}

.info {
  font-size: 2rem;
  border-bottom: 1px solid #444444;
  align-items: baseline;
  gap: 1.5rem;
  margin: 2rem 0;
  padding: 2rem;
  letter-spacing: 2.24px;

  p {
    width: fit-content;
    text-align: center;
  }

}

.buttons {
  padding: 2rem;
  gap: 10rem;
}