body {
  font-family: "Almoni regular", sans-serif;
  direction: rtl;
  margin: 0;
  color: $text;
  line-height: normal;
}

.mat-typography {
  line-height: normal;
}


button {
  border-radius: 70px;
  background: $dark;
  color: $white;
  font-size: 1.5rem;
  letter-spacing: 2.24px;
  font-family: "Almoni regular", sans-serif;
  border: 3px solid $dark;
  padding: 1rem 4rem;
  cursor: pointer;

  &:hover {
    opacity: 90%
  }

  &.disabled {
    opacity: 50%;
    cursor: default;
  }

  &.secondary-button {
    background: transparent;
    color: $dark;
  }
}

.title {
  font-family: "Jura", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: normal;
}


p {
  font-family: "Almoni regular", sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.24px;
  line-break: anywhere;
}


b {
  line-break: anywhere;
  font-family: "Almoni bold", sans-serif;
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 1.2rem;
  }


  button {
    background: $dark;
    color: $white;
    font-size: 1.2rem;
    letter-spacing: 2.24px;
    font-family: "Almoni regular", sans-serif;
    padding: .7rem 1rem;


  }
}

.container {
  padding: 0;

  .row {
    margin: 0;
    padding: .5rem;
  }
}
