@use '@angular/material' as mat;
@import "variables.scss";
@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$primary: (
        50: #2196F3,   // Darkest shade
        100: #2196F3,
        200: #2196F3,
        300: #2196F3,
        400: #2196F3,
        500: #2196F3,  // Regular shade
        600: #2196F3,
        700: #2196F3,
        800: #2196F3,
        900: #2196F3,
        A100: #2196F3,
        A200: #2196F3,
        A400: #2196F3,
        A700: #2196F3,  // Lightest shade
        contrast: (
                50: #ffffff,  // Contrast for darkest shade
                100: #ffffff,
                200: #ffffff,
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,  // Contrast for regular shade
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,  // Contrast for lightest shade
                A100: #000000,  // Contrast for A100 shade
                A200: #000000,
                A400: #000000,
                A700: #000000,
        ),
);
$accent: (
        50: #E3F2FD,  // New accent color
        100: #E3F2FD, // You can adjust other shades as needed
        200: #E3F2FD,
        300: #E3F2FD,
        400: #E3F2FD,
        500: #E3F2FD,
        600: #E3F2FD,
        700: #E3F2FD,
        800: #E3F2FD,
        900: #E3F2FD,
        A100: #E3F2FD,
        A200: #E3F2FD,
        A400: #E3F2FD,
        A700: #E3F2FD,
        contrast: (
                50: #000000,
                100: #000000,
                200: #000000,
                300: #000000,
                400: #000000,
                500: #000000,
                600: #000000,
                700: #000000,
                800: #000000,
                900: #000000,
                A100: #000000,
                A200: #000000,
                A400: #000000,
                A700: #000000,
        ),
);

$app-primary: mat.define-palette($primary);
$app-accent: mat.define-palette($accent);

$app-theme: mat.define-light-theme(
                (
                        color: (
                                primary: $app-primary,
                                accent: $app-accent,
                        ),
                )
);
@include mat.all-component-themes($app-theme);