$text: #000000;
$dark: #235430;
$light: #E9EEEA;
$white: white;

button {
  border-radius: 10px;
  background: $dark;
  color: $white;
  font-size: 2rem;
  width: 528px;
  height: 98px;
  letter-spacing: 2.24px;
  font-family: "Almoni regular", sans-serif;
}

.title {

}

