$text: #000000;
$dark: #235430;
$light: #E9EEEA;
$white: white;

button {
  border-radius: 10px;
  background: $dark;
  color: $white;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  letter-spacing: 2.24px;
  font-family: "Almoni regular", sans-serif;
  border: none;
}

.title {
  font-family: "Almoni regular", sans-serif;
}

