.title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.card {
  cursor: pointer;
}